/*
PageAdmin内置框架样式
*/
@import url(comm.css);
@import url(diy.css);
@import url(/css/focus.css);

/*网站基础样式*/

html{-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,th,td,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu2,nav,section{margin:0px;padding:0px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu2,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display: inline;*zoom:1;}
body{word-wrap:break-word;text-align:center;font:12px/1.8 "microsoft yahei",Tahoma,Verdana,Arial,\5b8b\4f53;color:#434343;}

input,select,textarea,button{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
li{list-style:none;*margin-left:-1px}
.left{float:left}
.right{float:right}
.clear{display:block;clear:both;font-size:0px;height:0px;line-height:0px;width:0px;margin:0px;padding:0px;overflow:hidden;}
a{color:#434343;text-decoration:none;}
a:hover{text-decoration:none;color:#cc0000;}
.page_style{text-align:center;background-color:#ffffff;}

/*顶部及主菜单样式*/
.top_box{clear:both;border:0 solid #cccccc;width:100%;background:rgb(51,51,51);box-shadow:0px 3px 3px rgba(0,0,0,0.1);position:fixed;z-index:10;}
.top_box_inner{clear:both;overflow:hidden;width:1200px;margin:0px auto;position:relative;}
.top_box .logo{float:left;text-align:left;max-width:50%;width:auto;height:77px;padding:4.5px 0px;}
.top_box .topcontent{float:right;width:auto;line-height:36px;position:absolute;top:25px;right:0px;}
.top_box .topcontent a{float:left;width:auto;color:#cccccc;font-size:14px;}
.top_box .topcontent a:hover{text-decoration:none;}
.top_box .topcontent span{float:left;padding:0px 5px;color:#cccccc;}

.menu_box{float:right;text-align:right;height:36px;margin:25px 100px 25px 0px;}

.menu_style_homepage{float:left;text-align:center;}
.menu_style{float:left;text-align:center;}

a.menu2{display:block;color:#ccc;text-decoration:none;font-weight:normal;font-size:14px;line-height:36px;width:80px;padding:0px 10px;margin:0px 10px;}
a.menu2:hover{color:#fff;text-decoration:none;background:url(images/m1v1.png) no-repeat center center;}

.menu_current a.menu2{color:#fff;text-decoration:none;background:url(images/m1v1.png) no-repeat center center;}

/*!*banner样式*!*/
.banner{clear:both;z-index:2;min-width:1200px;}
.smallbanner{clear:both;padding: 0 0 0 0;margin:0 0 0px 0;text-align:left}


/*!*网站主体框架样式*!*/
.page_l61 .main_box_style{background:#202020;}
.page_l61 .main_box_style .main_box_inner{width:auto;margin:0px;}
.main_box_style{clear:both;position:relative;z-index:3;overflow:hidden;}
.main_box_style .main_box_inner{clear:both;overflow:hidden;width:1200px;margin:50px auto;}

.page_l62_sl746 .main_box_style1 .wc_main_box_right{max-width:1200px;background:none;padding:0px;}/*酒店预订*/
.page_l89_sl752 .main_box_style1 .wc_main_box_right{max-width:1200px;background:none;padding:0px;}/*客栈*/
.page_l89_sl753 .main_box_style1 .wc_main_box_right{max-width:1200px;background:none;padding:0px;}/*客房*/
.page_l89_sl754 .main_box_style1 .wc_main_box_right{max-width:1200px;background:none;padding:0px;}/*餐厅*/
.page_l62_sl747 .main_box_style1 .wc_main_box_right{max-width:1200px;background:none;padding:0px;}/*立即预订*/
.detailpage  .main_box_style1 .wc_main_box_right{max-width:870px;padding:45px;background:white;}


.main_box_style1{clear:both;margin:0px 0 0 0;overflow:hidden;background:url(images/dt.jpg) no-repeat center center; background-attachment:fixed;}
.main_box_style1 .main_box_inner{margin:0px;clear:both;overflow:hidden;background:url(images/blank50_ssrg.png) repeat;}
.main_box_style1 .main_box_inner_left{clear:both;overflow:hidden;width:100%;max-width:1200px;margin:86px auto 0px auto;text-align:left;}
.main_box_style1 .main_box_inner_right{clear:both;overflow:hidden;width:100%;background:url(images/blank80_3mti.png);padding:50px 0px 50px 0px;}
.main_box_style1 .wc_main_box_right{clear:both;overflow:hidden;width:100%;max-width:870px;padding:45px;margin:0px auto;text-align:left;background:white;}

.main_box_style2{clear:both;margin:5px 0 0 0;overflow:hidden;background:url(images/lanmu_nav_bg.gif) repeat-y right top;}
.main_box_style2 .main_box_inner_left{float:left;width:680px;margin:0 10px 0 0;overflow:hidden;text-align:left;}
.main_box_style2 .main_box_inner_right{float:right;width:210px;margin:0 0 0 0;padding:0 0 0 0;overflow:hidden;text-align:left;border:0 solid #cccccc;border-width:1px 0 0 0;}


.main_box_style3{clear:both;margin:5px 0 0 0;overflow:hidden;background:url(images/lanmu_nav_bg.gif) repeat-y left top;}
.main_box_style3 .main_box_inner_left{float:left;width:210px;margin:0 10px 0 0;overflow:hidden;text-align:left;border:0 solid #cccccc;border-width:1px 0 0 0;}
.main_box_style3 .main_box_inner_middle{float:left;width:460px;margin:0 0 0 0;overflow:hidden;text-align:left;}
.main_box_style3 .main_box_inner_right{float:right;width:210px;margin:0 0 0 10px;overflow:hidden;text-align:left;}


/*!*导航样式*!*/
.nav_box{clear:both;width:100%;margin:0;}
.nav_title{clear:both;text-align:center;color:#333333;overflow:hidden;margin:50px 0px 0px 0px;}
.nav_sign{clear:both;overflow:hidden;display:inline-block;width:auto;color:rgb(0,0,0);color:#FFFFFF;font-size:32px;line-height:39.2px;border-bottom:1px #fff solid;padding:0px 10px 8px 10px;}
.nav_sign .s2{font-size:20px;text-transform:uppercase;color:rgb(168,168,168);}
.nav_sign i{display:block;width:70px;height:3px;background:#000;margin:10px auto 0px auto;}

.nav_more{float:right;font-weight:normal;padding:8px 10px 0 10px;display:none;}
.nav_more a{font-size:10px;line-height:15px}

.nav_content{text-align:left;}

.nav_menu{clear:both;overflow:hidden;padding:0px;text-align:center;width:100%;margin:20px 0px 40px 0px;}
.nav_menu ul{clear:both;overflow:hidden;display:inline-block;*display:inline;*zoom:1;}
.nav_menu ul li{float:left;margin:0px 10px 10px 0px;}
.nav_menu ul li a{display:block;line-height:32px;padding:0px 20px;font-size:12px;background:#000;color:#FFF;transition:all 0.5s ease;}
.nav_menu ul li a:hover{text-decoration:none;color:#000;background:#fff;}
.nav_menu ul li a.current{text-decoration:none;color:#000;background:#fff;}
.nav_menu ul li a.current:hover{}
.nav_menu ul li ul{position:absolute;top:40px;left:50%;z-index:10;}
.nav_menu ul li ul li{text-align:left;background:#FF8F2E;padding:8px 0px 0px 0px;}
.nav_menu ul li ul li a{}
.nav_menu ul li ul li a:hover{color:#cc0000;}


.nav_menu ul li ul li ul{padding:0 0 0 0px;}
.nav_menu ul li ul li span.node{float:left;height:20px;width:15px;cursor:pointer;background:url(/css/images/node_open.gif) no-repeat 0 center;}
.nav_menu ul li ul li span.node_close{float:left;height:20px;width:15px;cursor:pointer;background:url(/css/images/node_close.gif) no-repeat 0 center;}
.nav_menu ul li ul li span{float:left;height:20px;width:15px;background:url(images/subnav.gif) no-repeat 0 center;display:none;}

/*!*模块样式*!*/
#module_223{background:url(images/dt.jpg) no-repeat center center;background-attachment:fixed;}
#module_223 .module_box_inner{width:100%;background:url(images/blank50_ssrg.png) repeat;}
#module_223 .module_box_inner .module_content{width:1200px;margin:0px auto;}

.ggwzys .module_sign{color:white;}
.ggwzys .module_more{color:white;}

.module_box{clear:both;border:0 solid #cccccc;overflow:hidden;}                 /*模块整行布局样式*/
.module_box_layout_left{float:left;margin:0 0px 0px 0;border:0 solid #cccccc;overflow:hidden;}  /*模块左布局样式*/
.module_box_layout_right{float:right;margin:0 0 0px 0;border:0 solid #cccccc;overflow:hidden;}   /*模块右布局样式*/

.module_box_inner{clear:both;text-align:left;overflow:hidden;width:1200px;margin:0px auto;padding:50px 0px;}/*模块内层容器样式*/
.module_box_layout_left .module_box_inner{clear:both;text-align:left;margin:0 10px 0 0;padding:5px 0 5px 0;} /*模块居左时重写内层样式*/

.module_title{clear:both;overflow:hidden;width:100%;position:relative;margin:0px;text-align:center;}

.module_sign{clear:both;overflow:hidden;text-align:center;line-height:28px;font-size:30px;color:#ccc;}
.module_sign span{font-size:14px;color:#ccc;}
.module_sign i{display:block;width:50px;height:5px;background:#000;margin:10px auto 0px auto;;}

.module_more{clear:both;overflow:hidden;display:block;width:100%;text-align:center;}
.module_more a{font-size:14px;line-height:26px;text-transform:uppercase;transition:all 0.5s ease;color:#ccc;}
.module_more a:hover{text-decoration:none;color:white;}

.module_content{padding:5px 0px;text-align:left;}

.module_footer{clear:both;height:1px;overflow:hidden;background-color:#cccccc;display:none}
.module_footer .l{float:left;}
.module_footer .r{float:right}

/*!*子栏目样式*!*/
.lanmupage .current_location{}
.current_location{clear:both;text-align:left;height:35px;line-height:35px;overflow:hidden;position:absolute;top:0px;left:0px;border-bottom:1px solid #cacaca;width:100%;display:none;}
.current_location_1{float:left;}
.current_location_2{float:right;background:#fff;padding-right:10px;display:none}

.sublanmu_box{text-align:left;padding-bottom:10px;}
.sublanmu_content{text-align:left;padding:10px 0 0 0;}
.sublanmu_content_introduct{line-height:2.0;font-size:1.1em}
.sublanmu_content_introduct p{margin-bottom:10px;min-height:10px}

.sublanmu_page{clear:both;text-align:center;margin:15px 0 10px 0;font-size:12px;font-family:宋体;}
.sublanmu_page a{vertical-align:middle;zoom:1;height:15px;line-height:15px;padding:2px 8px 2px 8px;border:1px solid #cccccc;}
.sublanmu_page span.c{border:0px solid #cccccc;border-color:#999999;font-weight:bold;padding:0 2px 0 2px;}

.sublanmu_pn{font-size:13px;margin:15px 0 5px 0}
.sublanmu_pn li{color:#333;}

/*!*评论*!*/
.comments_box{text-align:left;border:1px solid #cccccc;margin:10px 5px 10px 10px;}
.comments_box .title{padding:2px 0 0 10px;height:20px;font-weight:bold;background-color:#ececec}
.comments_box ul li{padding:5px 0 5px 25px;}
.comments_box .textarea{width:520px;height:100px;border:1px solid #cccccc;border-color:#000000 #cccccc #cccccc #000000;}

.comments_list{padding:5px 5px 0 10px;border:0px solid #cccccc;overflow:hidden}
.comments_list .title{display:block;padding:2px 0 3px 5px;height:18px;width:100%;font-weight:bold;}
.comments_list .item{clear:both;margin:0 0 10px 0;overflow:hidden}
.comments_list .header{padding:3px 0 0 10px;height:22px;background-color:#eeeeee}
.comments_list .header .floornum{font-size:12px;font-style:Italic;font-weight:bold}
.comments_list .header .left{float:left}
.comments_list .header .right{float:right;padding-right:10px}
.comments_list .quote{display:block;color:#999999;padding:5px 5px 5px 10px;border:1px solid #ececec}
.comments_list .content{padding:5px 5px 5px 15px}
.comments_list .reply{background:url(images/reply.gif) no-repeat 5px 5px;border:1px dashed #cccccc;padding:2px 5px 2px 25px;margin:2px 0 5px 0;color:#D33506}

.comments_page{clear:both;vertical-align:middle;text-align:right;background-color:#ffffff;margin:10px 0 10px 0;font-family:宋体;}
.comments_page a{height:15px;line-height:15px;vertical-align:middle;zoom:1;padding:2px 8px 2px 8px;border:1px solid #cccccc;font-size:12px}
.comments_page span{vertical-align:middle;padding:2px 3px 2px 3px;font-weight:bold;font-size:12px}

/*!*bottom样式*!*/
.bottom_box{clear:both;overflow:hidden;text-align:center;line-height:30px;color:#666666;background:#202020;}



/*!*登陆界面*!*/
.loginbox_item{height:20px;padding:0 0 0 0;padding:0 5px 5px 0;text-align:left;font-size:9pt;}
.loginbox_textbox{width:100px;height:15px;border:0 solid #CCCCCC;border-width:1px 1px 1px 1px}
.loginbox_textbox_yzm{width:40px;height:15px;border:0 solid #CCCCCC;border-width:1px 1px 1px 1px}
.loginbox_submit{width:60px;height:20px;border:0 solid #333333;border-width:0 1px 1px 0;background-color:#dddddd;cursor:pointer;}
a.logined_href:link{font-size:9pt;color:#FF0000;text-decoration:underline}
a.logined_href:visited{font-size:9pt;color:#FF0000;;text-decoration:underline}
a.logined_href:hover{font-size:9pt;color:#FF0000;text-decoration:underline}
